/*-- Colors --*/
$white:       #fff;
$red:         #b70124;
$yellow:      #ffea06;
$blue:        #343964;
$black:       #000;
$transparent: transparent;

/*-- Fonts --*/
$museo:       'museo_sans_cyrl';
$hela:        'helvetica_neue_cyrl';
$Qwigley:     'Qwigley';
$ft40:        'ft40';

/*-- Sizes --*/
$regular: 1rem;
$middler: 1.5rem;
$middle:  1.7rem;
$bigger:  2rem;
$large:   3rem;
$big:     3.5rem;