@font-face {
    font-family: 'Qwigley';
    src: local('Qwigley'), local('Qwigley-Regular'), url('Qwigley.woff2') format('woff2'), url('Qwigley.woff') format('woff'), url('Qwigley.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
