/*-- Include Fonts --*/
@font-face {
    font-family: 'museo_sans_cyrl';
    src: url('fonts/MuseoSansCyrl/museosanscyrl_900_italic_0-webfont.woff2') format('woff2');
    src: url('fonts/MuseoSansCyrl/museosanscyrl_900_italic_0-webfont.woff') format('woff'),
         url('fonts/MuseoSansCyrl/museosanscyrl_900_italic_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/MuseoSansCyrl/museosanscyrl_900_italic_0-webfont.eot');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'museo_sans_cyrl';
    src: url('fonts/MuseoSansCyrl/museosanscyrl_900_0-webfont.woff') format('woff');
    src: url('fonts/MuseoSansCyrl/museosanscyrl_900_0-webfont.woff2') format('woff2'),
         url('fonts/MuseoSansCyrl/museosanscyrl_900_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/MuseoSansCyrl/museosanscyrl_900_0-webfont.eot');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'museo_sans_cyrl';
    src: url('fonts/MuseoSansCyrl/museosanscyrl_500_0-webfont.woff2') format('woff2'); 
    src: url('fonts/MuseoSansCyrl/museosanscyrl_500_0-webfont.woff') format('woff'),
         url('fonts/MuseoSansCyrl/museosanscyrl_500_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/MuseoSansCyrl/museosanscyrl_500_0-webfont.eot');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'museo_sans_cyrl';
    src: url('fonts/MuseoSansCyrl/museosanscyrl_700_0-webfont.woff2') format('woff2'); 
    src: url('fonts/MuseoSansCyrl/museosanscyrl_700_0-webfont.woff') format('woff'),
         url('fonts/MuseoSansCyrl/museosanscyrl_700_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/MuseoSansCyrl/museosanscyrl_700_0-webfont.eot');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'museo_sans_cyrl';
    src: url('fonts/MuseoSansCyrl/museosanscyrl_300_italic_0-webfont.woff2') format('woff2');
    src: url('fonts/MuseoSansCyrl/museosanscyrl_300_italic_0-webfont.woff') format('woff')
         url('fonts/MuseoSansCyrl/museosanscyrl_300_italic_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/MuseoSansCyrl/museosanscyrl_300_italic_0-webfont.eot');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'helvetica_neue_cyrl';
    src: url('fonts/HelveticaNeueCyr/helveticaneuecyr-medium-webfont.woff2') format('woff2'); 
    src: url('fonts/HelveticaNeueCyr/helveticaneuecyr-medium-webfont.woff') format('woff'), 
         url('fonts/HelveticaNeueCyr/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeueCyr/helveticaneuecyr-medium-webfont.eot');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'helvetica_neue_cyrl';
    src: url('fonts/HelveticaNeueCyr/helveticaneuecyr-bold-webfont.woff2') format('woff2'); 
    src: url('fonts/HelveticaNeueCyr/helveticaneuecyr-bold-webfont.woff') format('woff'), 
         url('fonts/HelveticaNeueCyr/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeueCyr/helveticaneuecyr-bold-webfont.eot');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'helvetica_neue_cyrl';
    src: url('fonts/HelveticaNeueCyr/helveticaneuecyr-light-webfont.woff2') format('woff2'); 
    src: url('fonts/HelveticaNeueCyr/helveticaneuecyr-light-webfont.woff') format('woff'), 
         url('fonts/HelveticaNeueCyr/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeueCyr/helveticaneuecyr-light-webfont.eot');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Qwigley';
    src: url('fonts/qwigley/Qwigley.woff2') format('woff2'); 
    src: url('fonts/qwigley/Qwigley.woff') format('woff'),
         url('fonts/qwigley/Qwigley.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ft40';
    /*src: url('fonts/ft40/ft40-webfont.woff2') format('woff2'); 
    src: url('fonts/ft40/ft40-webfont.woff') format('woff'),*/
    src:  url('fonts/ft40/ft40-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}