/*-- Variables --*/
$white: #fff;
$red: #b70124;
$yellow: #ffea06;
$blue: #343964;
$black: #000;
$transparent: transparent;
/*-- Fonts --*/
@font-face {
    font-family: 'museo_sans_cyrl';
    src: url('fonts/MuseoSansCyrl/museosanscyrl_900_italic_0-webfont.woff2') format('woff2');
    src: url('fonts/MuseoSansCyrl/museosanscyrl_900_italic_0-webfont.woff') format('woff'),
         url('fonts/MuseoSansCyrl/museosanscyrl_900_italic_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/MuseoSansCyrl/museosanscyrl_900_italic_0-webfont.eot');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'museo_sans_cyrl';
    src: url('fonts/MuseoSansCyrl/museosanscyrl_900_0-webfont.woff') format('woff');
    src: url('fonts/MuseoSansCyrl/museosanscyrl_900_0-webfont.woff2') format('woff2'),
         url('fonts/MuseoSansCyrl/museosanscyrl_900_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/MuseoSansCyrl/museosanscyrl_900_0-webfont.eot');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'museo_sans_cyrl';
    src: url('fonts/MuseoSansCyrl/museosanscyrl_500_0-webfont.woff2') format('woff2'); 
    src: url('fonts/MuseoSansCyrl/museosanscyrl_500_0-webfont.woff') format('woff'),
         url('fonts/MuseoSansCyrl/museosanscyrl_500_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/MuseoSansCyrl/museosanscyrl_500_0-webfont.eot');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'museo_sans_cyrl';
    src: url('fonts/MuseoSansCyrl/museosanscyrl_700_0-webfont.woff2') format('woff2'); 
    src: url('fonts/MuseoSansCyrl/museosanscyrl_700_0-webfont.woff') format('woff'),
         url('fonts/MuseoSansCyrl/museosanscyrl_700_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/MuseoSansCyrl/museosanscyrl_700_0-webfont.eot');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'museo_sans_cyrl';
    src: url('fonts/MuseoSansCyrl/museosanscyrl_300_italic_0-webfont.woff2') format('woff2');
    src: url('fonts/MuseoSansCyrl/museosanscyrl_300_italic_0-webfont.woff') format('woff')
         url('fonts/MuseoSansCyrl/museosanscyrl_300_italic_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/MuseoSansCyrl/museosanscyrl_300_italic_0-webfont.eot');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'helvetica_neue_cyrl';
    src: url('fonts/HelveticaNeueCyr/helveticaneuecyr-medium-webfont.woff2') format('woff2'); 
    src: url('fonts/HelveticaNeueCyr/helveticaneuecyr-medium-webfont.woff') format('woff'), 
         url('fonts/HelveticaNeueCyr/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeueCyr/helveticaneuecyr-medium-webfont.eot');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'helvetica_neue_cyrl';
    src: url('fonts/HelveticaNeueCyr/helveticaneuecyr-bold-webfont.woff2') format('woff2'); 
    src: url('fonts/HelveticaNeueCyr/helveticaneuecyr-bold-webfont.woff') format('woff'), 
         url('fonts/HelveticaNeueCyr/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeueCyr/helveticaneuecyr-bold-webfont.eot');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'helvetica_neue_cyrl';
    src: url('fonts/HelveticaNeueCyr/helveticaneuecyr-light-webfont.woff2') format('woff2'); 
    src: url('fonts/HelveticaNeueCyr/helveticaneuecyr-light-webfont.woff') format('woff'), 
         url('fonts/HelveticaNeueCyr/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeueCyr/helveticaneuecyr-light-webfont.eot');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Qwigley';
    src: url('fonts/qwigley/Qwigley.woff2') format('woff2'); 
    src: url('fonts/qwigley/Qwigley.woff') format('woff'),
         url('fonts/qwigley/Qwigley.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ft40';
    src: url('fonts/ft40/ft40-webfont.woff2') format('woff2'); 
    src: url('fonts/ft40/ft40-webfont.woff') format('woff'),
         url('fonts/ft40/ft40-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*-- Base --*/
html, body{
    font-size: 100%;
    font-family: 'museo_sans_cyrl', sans-serif;
    font-display: swap;
    font-style:normal;
    font-weight: 500;
    background-color: $white;
    line-height: 1.2;
    color: $blue;
}
a, a:hover, a:focus, a:visited{
    text-decoration: none!important;
    box-shadow: none!important;
    outline: none!important;
}
section{
    a,a:hover, a:focus, a:visited{ color: $blue; }
}
img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    -o-object-fit: contain;
}
section .row .col-12.header{
    text-transform: uppercase;
    color: #343964;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 20px;
    font-family: 'ft40', sans-serif;
    font-weight: bold;
}
header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 120px;
    padding: 15px 0 15px 0;
    background-color: rgba(0,0,0,.4);
    z-index: 100;
    border-bottom: 2px #000 solid;
    &.blue__bg{
        background-color: $blue;
        position: static;
    }
    ul{
            margin: 0;
            padding: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
                    flex-direction: row;
            list-style: none;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
                    align-items: center;
        li{
            a{
                text-transform: uppercase;
                font-weight: 700;
                color: $white;
                font-family: 'ft40', sans-serif;
                -webkit-transition: .2s;-o-transition: .2s;transition: .2s;
                &:hover{
                    color: $yellow;
                }
            }
            .logo{
                    padding-top: 25px;
                    color: $yellow;
                    text-transform: uppercase;
                    font-size: 1.7rem;
                    span{
                          font-family: 'Qwigley';
                          text-transform: none;
                          font-size: 2rem;
                          text-align: center;
                          display: block;
                        }
                }
        }
        .social{
            padding: 10px 0 10px 0;
            -webkit-box-pack: space-evenly;-ms-flex-pack: space-evenly;justify-content: space-evenly;
            width: 100%;
        }
        .fb, .inst{
            max-height: 30px;
             -webkit-transition: .3s;-o-transition: .3s;transition: .3s;
            &:hover{
                -webkit-transform: scale(1.2);-ms-transform: scale(1.2);transform: scale(1.2);
            }
        }
        .phone{
            font-family: 'helvetica_neue_cyrl';
            font-weight: 900;
            color: $yellow;
        }
    }
}
section{
    padding: 100px 0 100px 0;
    &#main{
        padding: 0;
        max-height: 100vh;
        overflow: hidden;
        .tp-static-layers{
            height: 100%;
        }
        .tp-bgimg{
            max-height: 100vh;
            background-attachment: fixed;
        }
        h1.main__header{
            position: relative;
            top: 200px;
            text-transform: uppercase;
            color: $blue;
            font-family: 'ft40', sans-serif;
            font-weight: bold;
            mark{
            color: $red;
            background: $transparent;
                span{
                  font-family: 'Qwigley';
                  text-transform: none;
                  font-size: 3.5rem;
                  padding-left: 15px;
                }
            }
        }
        .site__desc{
            position: relative;
            top: 250px;
        }
        #main__button{
            position: absolute;
            bottom: 400px;  
        }
    }
    &#products{
        h2{
            color: $red;
            padding-bottom: 50px;
        }
        a, a:hover, a:focus{
            position: relative;
            padding: 10px;
            .product-title{
                padding: 5px 0;
                font-size: 1.2rem;
                font-weight: 700;
                color: $blue;
            }
            .product-main-sale{
                text-decoration: line-through;
                color: $blue;
                font-size: 1rem;
                font-weight: 500;
            }
            .product-action-sale{
                color: $red;
                font-size: 1.1rem;
                font-weight: 600;
            }
            .box-button, .box-button:hover{
                    display: none;
                    text-align: center;
                    background: transparent;
                    border: 2px solid $red;
                    color: $red;
                    position: absolute;
                    top: 40%;
                    width: 70%;
                    font-weight: 600;
                    cursor: pointer;
                    padding: 10px 20px;
            }
        }
        a:hover{
            img{
                 -webkit-transition: .2s;-o-transition: .2s;transition: .2s;
                 -webkit-filter: opacity(0.4);    filter: opacity(0.4);
            }
            .box-button, .box-button:hover{
                -webkit-transition: .2s;-o-transition: .2s;transition: .2s;
                display: block;
            }
        }
    }
    .wy__we{
        padding-top: 40px;
        .progressive img{
            width: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-height: 90px;
            margin-bottom: 25px;
        }
        p.header{
            text-transform: uppercase;
            color: $red;
            font-size: 1.2rem;
            font-weight: 700;
            margin-bottom: 0;
            display: block;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        p.text{
            display: block;
            width: 80%;
            margin-left: auto;
            margin-right: auto;   
            font-weight: 600;
        }
    }
    h2{
        text-transform: uppercase;
        color: $blue;
        font-family: 'ft40', sans-serif;
        font-weight: bold;
        mark{
            color: $red;
            background: $transparent;
            span{
              font-family: 'Qwigley';
              text-transform: none;
              font-size: 3.5rem;
              padding-left: 15px;
            }
        }
        &.slick-header{
            padding: 60px 0 15px 0;
            &.action{
                color: $red;
            }
        }
    }
    h3{
        text-transform: uppercase;
        color: $blue;
        font-family: 'ft40', sans-serif;
        font-weight: bold;
        margin-bottom: 25px;
    }
    .gallery {
        padding: 0;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0;
        .foto__wrap{
            position: relative;
            cursor: pointer;
            a{
                position: relative;
                overflow: hidden;
                height: 100%;
                cursor: pointer;
                *{
                    cursor: pointer;
                }
                img{
                    object-fit: cover;
                    -o-object-fit: cover;
                    height: 100%;
                    -webkit-transition: .3s;-o-transition: .3s;transition: .3s;
                }
                p.header{
                        position: absolute;
                        top: 0;
                        color: white;
                        background: $transparent;
                        text-transform: uppercase;
                        font-size: 1.2rem;
                        font-weight: 600;
                        font-family: 'ft40', sans-serif;
                        width: 100%;
                        height: 100%;
                        -webkit-transition: .2s;-o-transition: .2s;transition: .2s;
                        span.hidden{
                            position: relative;
                            width: 80%;
                            top: 0;
                            text-transform: lowercase;
                            font-size: 1.1rem;
                            font-weight: 500;
                            display: none;
                            -webkit-transition: .2s;-o-transition: .2s;transition: .2s;
                            &:before{
                                content: ''; 
                                background-color: $white;
                                width: 60%;
                                height: 2px;
                                position: relative;
                                margin: 15px 0 15px 0;
                                display: none;
                                -webkit-transition: .2s;-o-transition: .2s;transition: .2s;
                            }
                      }
                }
            }
            &:hover{
                a{
                    img{
                        -webkit-transform: scale(1.2);-ms-transform: scale(1.2);transform: scale(1.2);
                    }
                    p.header{
                        background: rgba(0,0,0, .6);
                        span.hidden{
                            display: -webkit-box;display: -ms-flexbox;display: flex;
                            &:before{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    &.bg__water{
        background-size: cover;
        padding-top: 170px;
        @-moz-document url-prefix() {
            background-image: url(../img/bgblue-min.png);
        }
        &.bgimg{
           background-image: url(../img/bgblue-min.webp);
            &.replace{
               background-image: url(../img/bgblue-min-icon.jpg);         
            }
        }
        h2{
            color: $white;
        }
        p.header{
            color: $white;
        }
        .desc{
                font-size: 1.1rem;
                font-weight: 700;
                margin-bottom: 0;
                display: block;
                color: $white;
        }
    }
    &#timer{
        h2{
            color: $red;
            font-size: 1.5rem;
            padding-bottom: 20px;
        }
        p.desc{
            font-size: 1.5rem;
            text-transform: uppercase;
            padding-bottom: 10px;
        }
        #clockdiv{
            span{
                display: block;
                color: $white;
                font-family: 'ft40', sans-serif;
                font-weight: bold;
                background-color: $blue;
                font-size: 3rem;
            }
            .smalltext{
                text-transform: uppercase;
                color: $red;
                padding: 5px 0 5px 0;
            }
            &.hidden{
                display: none;
            }
            #deadline-messadge.hidden{
                display: none;
            }
            #deadline-messadge.visible{
                padding: 10px 0 10px 0;
                font-size: 1.5rem;
                text-transform: uppercase;
            }
        }
        .box-button {
            margin-top: 30px;
        }
        background-size: cover;
        background-position: center;
        @-moz-document url-prefix() {
            background-image: url(../img/bg-min.png);
        }
        &.bgimg{
           background-image: url(../img/bg-min.webp);
            &.replace{
               background-image: url(../img/bg-min-icon.jpg);         
            }
        }
    }
    
}
.paddings{
    p.text-center{
        color: $black;
    }
    input[type=text]{
        border-radius: 0;
        border-color: $black;
        height: 40px;
    }
    input[type=tel]{
        border-radius: 0;
        border-color: $black;
        height: 40px;
    }
    input[type=submit]{
        height: 40px;
        background-color: $red;
        color: $white;
        border-color: $transparent;
        border-radius: 0;
        cursor: pointer;
    }
}
.box-button{
        padding: 10px 20px;    
        background-color: $red;
        color: $white;
        border-color: $transparent;
    &:hover{
        -webkit-transition: .2s;-o-transition: .2s;transition: .2s;
        padding: 25px;
        color: $white;
    }
}
footer{
    background-size: cover;
    padding: 70px 0 20px 0;
       @-moz-document url-prefix() {
            background-image: url(../img/footerbg-min.png);
        }
        &.bgimg{
           background-image: url(../img/footerbg-min.webp);
            &.replace{
               background-image: url(../img/footerbg-min-icon.jpg);         
            }
        }
    .logo{
        padding-top: 25px;
        color: $yellow;
        text-transform: uppercase;
        font-size: 1.7rem;
        span{
              font-family: 'Qwigley';
              text-transform: none;
              font-size: 2rem;
            }
    }
    a{
        font-family: 'ft40', sans-serif;
         -webkit-transition: .3s;-o-transition: .3s;transition: .3s;
        color: $white;
        font-size: 1.3rem;
        padding: 10px 0 10px 0;
        &:hover{
            color: $yellow;
        }
    }
    .social{
        padding: 10px 0 10px 0;
        -webkit-box-pack: space-evenly;-ms-flex-pack: space-evenly;justify-content: space-evenly;
        width: 100%;
    }
    .fb, .inst{
        max-height: 30px;
         -webkit-transition: .3s;-o-transition: .3s;transition: .3s;
        &:hover{
            -webkit-transform: scale(1.2);-ms-transform: scale(1.2);transform: scale(1.2);
        }
    }
    .phone{
        font-family: 'helvetica_neue_cyrl';
        font-weight: 900;
        color: $yellow;
    }
    .copyright{
        font-size: 1rem;
        color: $white;
        margin-top: 30px;
    }
}
.slick{
    padding: 20px 0 30px 0;
    .slick-arrow{
        width: 45px;
        height: auto;
        object-fit: contain;
        -o-object-fit: contain;
        &.slick-prev{
            -webkit-transform: rotate(-90deg);-ms-transform: rotate(-90deg);transform: rotate(-90deg);
        }
        &.slick-next{
            -webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);
        }
    }
    .review-wrapper{
        position: relative;
        img{
            position: relative;
            top: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            -o-object-fit: cover;
        }
        p.header{
            position: absolute;
            top: 45%;
            width: 100%;
        }
    }
}
.paginations{
    span{color: $red;}
    a{color: $blue;}
}
/*--- Single product ---*/
#single__product{
    padding: 200px 0 50px 0;
    h2{
        text-transform: unset;
        font-weight: 600;
        color: $red;
    }
    .product-main-sale{
        text-decoration: line-through;
        color: #343964;
        font-size: 1rem;
        font-weight: 500;
        padding: 10px 0 5px 0;
    }
    .product-action-sale{
        color: #b70124;
        font-size: 1.1rem;
        font-weight: 600;
        padding: 5px 0 10px 0;
    }
    .attributes{
        font-size: 1.1rem;
        font-weight: 700;
        margin-bottom: 20px;
        a, a:focus, a:hover{
            font-size: 1rem;
            color: $blue;
            font-weight: 400;
        }
    }
    .box-button{
        margin-top: 25px;
        padding: 10px 30px;
    }
    .main-product-image img{
        height: 100%;
        width: auto;
        padding: 0;
        object-fit: cover;
        -o-object-fit: cover;
        cursor: pointer;
    }
    .gallery__wrap{
        img{
            margin-bottom: 10px;
            cursor: pointer;
        }
        &:last-child img{
                margin-bottom: 0;
        }
    }
}
section#all{
    padding-top: 50px;
    h2{
        padding-bottom: 50px;
    }
    a, a:hover, a:focus{
            position: relative;
            padding: 10px;
            .product-title{
                padding: 5px 0;
                font-size: 1.2rem;
                font-weight: 700;
                color: $blue;
            }
            .product-main-sale{
                text-decoration: line-through;
                color: $blue;
                font-size: 1rem;
                font-weight: 500;
            }
            .product-action-sale{
                color: $red;
                font-size: 1.1rem;
                font-weight: 600;
            }
            .box-button, .box-button:hover{
                    display: none;
                    text-align: center;
                    background: transparent;
                    border: 2px solid $red;
                    color: $red;
                    position: absolute;
                    top: 40%;
                    width: 70%;
                    font-weight: 600;
                    cursor: pointer;
                    padding: 10px 20px;
            }
        }
        a:hover{
            img{
                 -webkit-transition: .2s;-o-transition: .2s;transition: .2s;
                 -webkit-filter: opacity(0.4);    filter: opacity(0.4);
            }
            .box-button, .box-button:hover{
                -webkit-transition: .2s;-o-transition: .2s;transition: .2s;
                display: block;
            }
        }
    .slick-arrow{
        width: 45px;
        height: auto;
        object-fit: contain;
        -o-object-fit: contain;
        background: $blue;
        border-radius: 100px;
        &.slick-prev{
            -webkit-transform: rotate(-90deg);-ms-transform: rotate(-90deg);transform: rotate(-90deg);
        }
        &.slick-next{
            -webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);
        }
    }
}
@media screen and ( max-width: 1024px ){
    section#all{
        .slick-arrow{
            display: none;
        }
    }
    section{
        &#main{
            .main-mobile{
              height: 50vh;  
               @-moz-document url-prefix() {
                    background-image: url(../img/mainbgsmall-min.png);
                }
                &.bgimg{
                   background-image: url(../img/mainbgsmall-min.webp);
                    &.replace{
                       background-image: url(../img/bg-min-icon.jpg);         
                    }
                }
                h1{
                        position: absolute;
                        width: 100%;
                        text-align: center;
                        top: 42%;
                }
                .box-button{
                        width: 20%;
                        position: absolute;
                        bottom: 60px
                }
            }
        }
        &.bg__water{
            background-image: none;
            background-color: $blue;
            &.bgimg{background-image: none;}
            p.header{
                margin-bottom: 1.2rem;    
            }
        }
        .gallery{
            grid-template-columns: 1fr 1fr;
        }
    }
      #single__product{
        padding: 150px 0 50px 0;
        .im__wrap{
            order: 2;
        }
        .text__wrap{
            order: 1;
            padding-bottom: 50px;
        }
    }
}
#cart{
     -webkit-transition: .2s;-o-transition: .2s;transition: .2s;
    position: fixed;
    background-color: $yellow;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-image: url(../img/basket-min.webp);
    @-moz-document url-prefix() {
        background-image: url(../img/basket-min.png);
    }
    right: 50px;
    top: 30px;
    z-index: 102;
    width: 80px;
    height: 80px;
    border: 2px $blue solid;
    color: $blue;
    border-radius: 100px;
    a{
        width: 100%;
        height: 100%;
        border-radius: 100px;
        .basket-btn__counter{
                float: right;
                background: $red;
                padding: 5px;
                border-radius: 25px;
                color: $white;
                width: 25px;
                height: 25px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                        align-items: center;
        }
    }
}
.widget_cart{
     -webkit-transition: .2s;-o-transition: .2s;transition: .2s;
    position: fixed;
    right: 110px;
    top: 35px;
    z-index: 101;
    max-width: 100%;
    background: $white;
    color: $blue;
    padding: 5px;
    border: 2px solid $blue;
    display: none;
    &.open{
        display: block;
    }
    .buttons{
        a, a:hover{
            background-color: $red;
            border-radius: 0;
            color: $white;
        }
    }
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce a.button.alt, .woocommerce a.button.alt:hover, .woocommerce a.button.alt:focus, #place_order, #place_order:hover{
            background-color: $red;
            border-radius: 0;
            color: $white;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{
        width: 100%;
        max-width: 100%;
    .woocommerce-billing-fields, .woocommerce-shipping-fields{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .form-row{
        width: 100%;
        label{
             width: 18%;
             margin-right: 20px;
        }
        span.woocommerce-input-wrapper{
            width: 50%;
        }
    }
}
.quantity-wrapper{
    .row{
        height: 40px;
        cursor: pointer;
        .value{
            border: 1px solid $blue;
        }
        .col-2{
                border: 1px solid $blue;
                height: 30px;
                margin-top: 5px;
            &.plus{
                border-right: none;
            }
            &.minus{
                border-left: none;
            }
        }
    }
}
@media screen and ( max-width: 760px ){
    #cart{
        right: 30px;
        top: auto;
        bottom: 30px;
    }
    header{
            height: auto;
            min-height: 60px;
            position: fixed;
            overflow-y: scroll;
        .burger{
                width: 40px;
                position: absolute;
                right: 15px;
                top: 10px;
                height: 40px;
                border-radius: 5px;
                border: 1px solid $white;
                cursor: pointer;
            .line{
                width: 90%;
                height: 2px;
                background: $white;
                margin: 8px 0;
                border-radius: 2px;
                &:before, &:after{
                    content: '';
                    width: 100%;
                    height: 2px;
                    background: $white; 
                    display: block;
                    margin: 8px 0;
                    border-radius: 2px;
                }
            }
        }
        .logo{
                    color: $yellow;
                    text-transform: uppercase;
                    font-size: 1.3rem;
                    position: absolute;
                    left: 15px;
                    span{
                          font-family: 'Qwigley';
                          text-transform: none;
                          font-size: 2rem;
                          text-align: center;
                          display: inline-block;
                        }
                }
        ul{
            display: none;
            min-height: 95vh;
            overflow-y: scroll;
            margin-top: 60px;
            background: rgba(0,0,0, .7);
            li{
                width: 100%;
                text-align: center;
                .social{
                    -webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;
                    a{    padding: 0 10px 0 10px;}
                }
                a{
                    display: block;
                    text-align: center;
                    padding: 10px 0 10px 0;
                    font-size: 1.3rem;
                }
            }
            -webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;
        }
    }
    footer{
        .social{
                    -webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;
                    a{    padding: 0 10px 0 10px;}
                }
    }
    section{
        padding: 50px 0 50px 0;
        h2{
            font-size: 1.5rem;
        }
        .gallery{
            grid-template-columns: 1fr;
        }
        &#main{
            padding-top: 0;
            margin-top: 0;
            .forcefullwidth_wrapper_tp_banner{
                display: none;
            }
            .main-mobile{
                height: 100vh;
                background-position: -60px;
                h1{
                        position: absolute;
                        width: 100%;
                        text-align: center;
                        top: 35%;
                        font-size: 2rem;
                }
                .box-button{
                    width: 50%;
                    position: absolute;
                    bottom: 60px;
                }
            } 
        }
        &#timer{
            #clockdiv span{
                font-size: 2rem;
            }
        }
    }
}
.overlay{
    position: fixed;
    display: none;
    z-index: 15;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
}
/*--- Modal ---*/
.modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 450;
    &.show{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
    }
    .value{
        background: $white;
        width: 50%;
        max-width: 600px;
        max-height: 400px;
        height: 50%;
        position: relative;
        z-index: 500;
        border: 2px solid $blue;
        color: $red;
        text-transform: uppercase;
        font-size: 1.4rem;
        margin: auto;
        top: 20%;
        span.close{
            position: absolute;
            right: 0;
            top: 0;
            font-size: 1.2rem;
            border: 2px $blue solid;
            padding: 5px 10px;
            border-top: none;
            border-right: none;
        }
    }
}
/*--- Loader  ---*/
#loader {
  -webkit-animation: animate 1.5s linear infinite;
          animation: animate 1.5s linear infinite;
  clip: rect(0, 80px, 80px, 40px); 
  height: 80px;
  width: 80px;
  position: fixed;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  z-index: 16;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}
@-webkit-keyframes animate {
  0% { 
    -webkit-transform: rotate(0deg); 
            transform: rotate(0deg)
  }
  100% { 
    -webkit-transform: rotate(220deg); 
            transform: rotate(220deg)
  }
}
@keyframes animate {
  0% { 
    -webkit-transform: rotate(0deg); 
            transform: rotate(0deg)
  }
  100% { 
    -webkit-transform: rotate(220deg); 
            transform: rotate(220deg)
  }
}
#loader:after {
  -webkit-animation: animate2 1.5s ease-in-out infinite;
          animation: animate2 1.5s ease-in-out infinite;
  clip: rect(0, 80px, 80px, 40px);
  content:'';
  border-radius: 50%; 
  height: 80px;
  width: 80px;
  position: absolute; 
} 
@-webkit-keyframes animate2 {
  0% {
    -webkit-box-shadow: inset #fff 0 0 0 17px;
            box-shadow: inset #fff 0 0 0 17px;
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
  50% {
    -webkit-box-shadow: inset #fff 0 0 0 2px;
            box-shadow: inset #fff 0 0 0 2px;
  }
  100% {
    -webkit-box-shadow: inset #fff 0 0 0 17px;
            box-shadow: inset #fff 0 0 0 17px;
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
} 
@keyframes animate2 {
  0% {
    -webkit-box-shadow: inset #fff 0 0 0 17px;
            box-shadow: inset #fff 0 0 0 17px;
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
  50% {
    -webkit-box-shadow: inset #fff 0 0 0 2px;
            box-shadow: inset #fff 0 0 0 2px;
  }
  100% {
    -webkit-box-shadow: inset #fff 0 0 0 17px;
            box-shadow: inset #fff 0 0 0 17px;
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
}