/*-- Colors --*/
/*-- Fonts --*/
/*-- Sizes --*/
@import url(fonts.css);
@import url(_components/loader.css);
html, body {
  font-size: 100%;
  font-family: "museo_sans_cyrl", sans-serif;
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  background-color: #fff;
  line-height: 1.2;
  color: #343964; }

a, a:hover, a:focus, a:visited {
  text-decoration: none !important;
  box-shadow: none !important;
  outline: none !important; }

section {
  padding: 100px 0 100px 0; }
  section a, section a:hover, section a:focus, section a:visited {
    color: #343964; }

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  -o-object-fit: contain; }

section .row .col-12.header {
  text-transform: uppercase;
  color: #343964;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 20px;
  font-family: "ft40", sans-serif;
  font-weight: bold; }

a:focus, button:focus {
  outline: none;
  box-shadow: none; }

.box-button {
  padding: 10px 20px;
  background-color: #b70124;
  color: #fff;
  border: 1px solid #b70124; }
  .box-button:hover, .box-button:focus {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    color: #b70124;
    cursor: pointer;
    background: transparent;
    border: 1px solid #b70124;
    outline: none;
    box-shadow: none; }

.paginations span {
  color: #b70124; }
.paginations a {
  color: #343964; }

.ias-trigger {
  color: #fff !important;
  margin-top: 30px; }
  .ias-trigger:hover .box-button:hover, .ias-trigger:hover .box-button, .ias-trigger .box-button:hover, .ias-trigger:hover {
    color: #b70124 !important; }
    .ias-trigger:hover .box-button:hover a, .ias-trigger:hover .box-button a, .ias-trigger .box-button:hover a, .ias-trigger:hover a {
      background: transparent;
      border: 1px solid #b70124; }
  .ias-trigger .box-button {
    color: #fff; }
    .ias-trigger .box-button:hover {
      color: #b70124; }

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 120px;
  padding: 15px 0 15px 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  border-bottom: 2px #000 solid; }
  header.blue__bg {
    background-color: #343964;
    position: static; }
  header ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    header ul li a {
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 2px;
      color: #fff;
      font-family: "ft40", sans-serif;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
      header ul li a:hover {
        color: #ffea06; }
    header ul li .logo {
      padding-top: 10px;
      color: #ffea06;
      text-transform: uppercase;
      font-size: 1.7rem; }
      header ul li .logo span {
        font-family: "Qwigley";
        text-transform: none;
        font-size: 2rem;
        text-align: center;
        display: block; }
    header ul .social {
      padding: 0 0 10px 0;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      width: 100%; }
    header ul .fb, header ul .inst {
      max-height: 30px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      header ul .fb:hover, header ul .inst:hover {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9); }
    header ul .phone {
      font-family: "museo_sans_cyrl";
      font-weight: 500;
      color: #ffea06; }

@media screen and (max-width: 760px) {
  header {
    height: auto;
    min-height: 60px;
    position: fixed;
    overflow-y: scroll; }
    header .burger {
      width: 40px;
      position: absolute;
      right: 15px;
      top: 10px;
      height: 40px;
      border-radius: 5px;
      border: 1px solid #fff;
      cursor: pointer;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; }
      header .burger .line {
        width: 90%;
        height: 2px;
        background: #fff;
        border-radius: 2px; }
    header .logo {
      color: #ffea06;
      text-transform: uppercase;
      font-size: 1.3rem;
      position: absolute;
      left: 15px; }
      header .logo span {
        font-family: "Qwigley";
        text-transform: none;
        font-size: 2rem;
        text-align: center;
        display: inline-block; }
    header ul {
      display: none;
      min-height: 95vh;
      overflow-y: scroll;
      margin-top: 60px;
      background: rgba(0, 0, 0, 0.7);
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      header ul li {
        width: 100%;
        text-align: center; }
        header ul li .social {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
          header ul li .social a {
            padding: 0 10px 0 10px; }
        header ul li a {
          display: block;
          text-align: center;
          padding: 10px 0 10px 0;
          font-size: 1.3rem; } }
/*-- Cart --*/
#cart {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  position: fixed;
  background-color: #ffea06;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
  background-image: url(../img/basket-min.webp);
  right: 50px;
  top: 20px;
  z-index: 102;
  width: 80px;
  height: 80px;
  border: 2px #343964 solid;
  color: #343964;
  border-radius: 100px; }
@-moz-document url-prefix() {
  #cart {
    background-image: url(../img/basket-min.png); } }
  #cart a {
    width: 100%;
    height: 100%;
    border-radius: 100px; }
    #cart a .basket-btn__counter {
      float: right;
      background: #b70124;
      padding: 5px;
      border-radius: 25px;
      color: #fff;
      width: 25px;
      height: 25px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }

/*-- Widget cart --*/
.widget_cart {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  position: fixed;
  right: 110px;
  top: 35px;
  z-index: 101;
  max-width: 100%;
  background: #fff;
  color: #343964;
  padding: 5px;
  padding-right: 25px;
  border: 2px solid #343964;
  display: none; }
  .widget_cart.open {
    display: block; }
  .widget_cart .buttons a, .widget_cart .buttons a:hover {
    background-color: #b70124;
    border-radius: 0;
    color: #fff; }

@media screen and (max-width: 760px) {
  #cart {
    right: 30px;
    top: auto;
    bottom: 30px; } }
section h2 {
  text-transform: uppercase;
  color: #343964;
  font-family: "ft40", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.5rem; }
  section h2 mark {
    color: #b70124;
    background: transparent; }
    section h2 mark span {
      font-family: "Qwigley";
      text-transform: none;
      font-size: 3.5rem;
      padding-left: 15px; }
  section h2.slick-header {
    padding: 60px 0 15px 0; }
    section h2.slick-header.action {
      color: #b70124; }
section h3 {
  text-transform: uppercase;
  color: #343964;
  font-family: "ft40", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin-bottom: 25px; }
section.bg__water {
  background-size: cover;
  padding-top: 170px; }
@-moz-document url-prefix() {
  section.bg__water {
    background-image: url(../img/bgblue-min.png); } }
  section.bg__water.bgimg {
    background-image: url(../img/bgblue-min.webp); }
    section.bg__water.bgimg.replace {
      background-image: url(../img/bgblue-min-icon.jpg); }
  section.bg__water h2 {
    color: #fff; }
  section.bg__water p.header {
    color: #fff; }
  section.bg__water .desc {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 0;
    display: block;
    color: #fff; }

@media screen and (max-width: 1024px) {
  section.bg__water {
    background-image: none;
    background-color: #343964; }
    section.bg__water.bgimg {
      background-image: none; }
    section.bg__water p.header {
      margin-bottom: 1.2rem; } }
@media screen and (max-width: 760px) {
  section {
    padding: 50px 0 50px 0; }
    section h2 {
      font-size: 1.5rem; } }
section#main {
  padding: 0;
  max-height: 100vh;
  overflow: hidden; }
  section#main .tp-static-layers {
    height: 100%; }
  section#main .tp-bgimg {
    max-height: 100vh;
    background-attachment: fixed; }
  section#main h1.main__header {
    position: relative;
    top: 200px;
    color: #343964;
    font-family: "ft40", sans-serif !important;
    font-weight: bold; }
    section#main h1.main__header mark {
      text-transform: uppercase;
      color: #b70124;
      background: transparent; }
      section#main h1.main__header mark span {
        font-family: "Qwigley";
        text-transform: none;
        font-size: 3.5rem;
        padding-left: 15px; }
  section#main .site__desc {
    position: relative;
    top: 250px; }
  section#main #main__button {
    position: absolute;
    bottom: 400px;
    cursor: pointer;
    border: 2px solid #b70124; }
    section#main #main__button:hover {
      border: 2px solid #b70124 !important;
      color: #b70124 !important;
      background: transparent !important; }

@media screen and (max-width: 1024px) {
  section#main .main-mobile {
    height: 70vh; }
  @-moz-document url-prefix() {
    section#main .main-mobile {
      background-image: url(../img/mainbgsmall-min.png); } }
    section#main .main-mobile.bgimg {
      background-image: url(../img/mainbgsmall-min.webp); }
      section#main .main-mobile.bgimg.replace {
        background-image: url(../img/bg-min-icon.jpg); }
    section#main .main-mobile h1 {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 42%; }
    section#main .main-mobile .box-button {
      width: 20%;
      position: absolute;
      bottom: 60px; } }
@media screen and (max-width: 760px) {
  section#main {
    padding-top: 0;
    margin-top: 0; }
    section#main .forcefullwidth_wrapper_tp_banner {
      display: none; }
    section#main .main-mobile {
      height: 100vh;
      background-position: -60px; }
      section#main .main-mobile h1 {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 35%;
        font-size: 2rem; }
      section#main .main-mobile .box-button {
        width: 50%;
        position: absolute;
        bottom: 60px;
        cursor: pointer;
        border: 2px solid transparent; }
        section#main .main-mobile .box-button:hover {
          padding: 10px 20px;
          border: 2px solid #b70124;
          color: #b70124;
          background: transparent; } }
section#products h2 {
  color: #b70124;
  padding-bottom: 50px; }
section#products a, section#products a:hover, section#products a:focus {
  position: relative;
  padding: 10px; }
  section#products a .box-button, section#products a .box-button:hover, section#products a:hover .box-button, section#products a:hover .box-button:hover, section#products a:focus .box-button, section#products a:focus .box-button:hover {
    display: none;
    text-align: center;
    background: transparent;
    border: 2px solid #b70124;
    color: #b70124;
    position: absolute;
    top: 40%;
    width: 70%;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 20px; }
  section#products a .box-button:focus, section#products a:hover .box-button:focus, section#products a:focus .box-button:focus {
    background: #b70124;
    border: 2px solid #b70124;
    color: #fff; }
section#products a:hover img {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-filter: opacity(0.4);
  filter: opacity(0.4); }
section#products a:hover .box-button, section#products a:hover .box-button:hover {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  display: block; }

.product-title {
  padding: 10px 0 0 0;
  font-size: 1.2rem;
  font-weight: 700;
  color: #343964; }

.product-main-sale {
  text-decoration: line-through;
  color: #343964;
  font-size: 1rem;
  font-weight: 500; }

.product-action-sale {
  color: #b70124;
  font-size: 1.2rem;
  font-weight: 800; }

.one__product {
  min-height: 510px; }
  .one__product a {
    padding: 0; }
    .one__product a img {
      height: 430px;
      max-width: 100%;
      object-fit: cover;
      -o-object-fit: cover;
      padding: 0 10px;
      border-radius: 20px; }
      .one__product a img.hidden {
        display: none; }
    .one__product a:hover img {
      display: none; }
      .one__product a:hover img.hidden {
        display: block; }

@media screen and (max-width: 760px) {
  .one__product a img {
    height: 400px; } }
#single__product {
  padding: 200px 0 50px 0; }
  #single__product h2 {
    text-transform: unset;
    font-weight: 600;
    color: #b70124; }
  #single__product .product-main-sale {
    padding: 10px 0 5px 0; }
  #single__product .product-action-sale {
    padding: 5px 0 10px 0; }
  #single__product .attributes {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 20px; }
    #single__product .attributes a, #single__product .attributes a:focus, #single__product .attributes a:hover {
      font-size: 1rem;
      color: #343964;
      font-weight: 400; }
  #single__product .box-button {
    margin-top: 25px;
    padding: 10px 30px; }
  #single__product .main-product-image {
    max-height: 910px;
    overflow: hidden; }
    #single__product .main-product-image img {
      height: 100%;
      width: auto;
      padding: 0;
      object-fit: cover;
      -o-object-fit: cover;
      cursor: pointer;
      max-height: 910px;
      max-width: 500px; }
  #single__product .gallery__wrap img {
    margin-bottom: 10px;
    cursor: pointer;
    margin-bottom: 30px; }
  #single__product .gallery__wrap:last-child img {
    margin-bottom: 0; }

@media screen and (max-width: 1024px) {
  #single__product {
    padding: 150px 0 50px 0; }
    #single__product .im__wrap {
      order: 2; }
    #single__product .text__wrap {
      order: 1;
      padding-bottom: 50px; } }
/*-- Product slider --*/
section#all {
  padding-top: 50px; }
  section#all h2 {
    padding-bottom: 50px; }
  section#all a, section#all a:hover, section#all a:focus {
    position: relative;
    padding: 10px; }
    section#all a .product-title, section#all a:hover .product-title, section#all a:focus .product-title {
      padding: 10px 0 0 0;
      font-size: 1.2rem;
      font-weight: 700;
      color: #343964; }
    section#all a .box-button, section#all a .box-button:hover, section#all a:hover .box-button, section#all a:hover .box-button:hover, section#all a:focus .box-button, section#all a:focus .box-button:hover {
      display: none;
      text-align: center;
      background: transparent;
      border: 2px solid #b70124;
      color: #b70124;
      position: absolute;
      top: 40%;
      width: 70%;
      font-weight: 600;
      cursor: pointer;
      padding: 10px 20px; }
    section#all a .box-button:focus, section#all a:hover .box-button:focus, section#all a:focus .box-button:focus {
      background: #b70124;
      border: 2px solid #b70124;
      color: #fff; }
  section#all a:hover img {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -webkit-filter: opacity(0.4);
    filter: opacity(0.4); }
  section#all a:hover .box-button, section#all a:hover .box-button:hover {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    display: block; }
  section#all .slick-arrow {
    width: 45px;
    height: auto;
    object-fit: contain;
    -o-object-fit: contain;
    background: #343964;
    border-radius: 100px; }
    section#all .slick-arrow.slick-prev {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }
    section#all .slick-arrow.slick-next {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }

@media screen and (max-width: 1024px) {
  section#all .slick-arrow {
    display: none; } }
/*--- Quantity calculator ---*/
.quantity-wrapper .row {
  height: 40px;
  cursor: pointer; }
  .quantity-wrapper .row .value {
    border: 1px solid #343964; }
  .quantity-wrapper .row .col-2 {
    border: 1px solid #343964;
    height: 30px;
    margin-top: 5px; }
    .quantity-wrapper .row .col-2.plus {
      border-right: none; }
    .quantity-wrapper .row .col-2.minus {
      border-left: none; }

section#timer {
  background-size: cover;
  background-position: center; }
  section#timer h2 {
    color: #b70124;
    font-size: 1.5rem;
    padding-bottom: 20px; }
  section#timer p.desc {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-bottom: 10px;
    letter-spacing: 4px; }
  section#timer #clockdiv span {
    display: block;
    color: #fff;
    font-family: "ft40", sans-serif;
    font-weight: 400;
    background-color: #343964;
    font-size: 3rem;
    letter-spacing: 5px;
    padding: 10px; }
  section#timer #clockdiv .smalltext {
    text-transform: uppercase;
    color: #b70124;
    padding: 15px 0 5px 0;
    font-weight: 600; }
  section#timer #clockdiv.hidden {
    display: none; }
  section#timer #clockdiv #deadline-messadge.hidden {
    display: none; }
  section#timer #clockdiv #deadline-messadge.visible {
    padding: 10px 0 10px 0;
    font-size: 1.5rem;
    text-transform: uppercase; }
  section#timer .box-button {
    position: relative;
    top: 30px; }
@-moz-document url-prefix() {
  section#timer {
    background-image: url(../img/bg-min.png); } }
  section#timer.bgimg {
    background-image: url(../img/bg-min.webp); }
    section#timer.bgimg.replace {
      background-image: url(../img/bg-min-icon.jpg); }

@media screen and (max-width: 760px) {
  section#timer #clockdiv span {
    font-size: 2rem; } }
form .paddings p.text-center {
  color: #000; }
form .paddings input[type=text] {
  border-radius: 0;
  border-color: #000;
  height: 40px; }
form .paddings input[type=tel] {
  border-radius: 0;
  border-color: #000;
  height: 40px; }
form .paddings input[type=submit] {
  height: 40px;
  background-color: #b70124;
  color: #fff;
  border-color: transparent;
  border-radius: 0;
  cursor: pointer;
  cursor: pointer;
  border: 2px solid #b70124; }
  form .paddings input[type=submit]:hover, form .paddings input[type=submit]:focus {
    border: 2px solid #b70124 !important;
    color: #b70124 !important;
    background: transparent !important;
    outline: none;
    box-shadow: none; }

footer {
  background-size: cover;
  padding: 70px 0 20px 0; }
@-moz-document url-prefix() {
  footer {
    background-image: url(../img/footerbg-min.png); } }
  footer.bgimg {
    background-image: url(../img/footerbg-min.webp); }
    footer.bgimg.replace {
      background-image: url(../img/footerbg-min-icon.jpg); }
  footer .logo {
    padding-top: 25px;
    color: #ffea06;
    text-transform: uppercase;
    font-size: 1.7rem; }
    footer .logo span {
      font-family: "Qwigley";
      text-transform: none;
      font-size: 2rem; }
  footer a {
    font-family: "ft40", sans-serif;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    color: #fff;
    font-size: 1.3rem;
    padding: 10px 0 10px 0;
    font-weight: 400;
    letter-spacing: 2px; }
    footer a:hover {
      color: #ffea06; }
  footer .social {
    padding: 10px 0 10px 0;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    width: 100%; }
  footer .fb, footer .inst {
    max-height: 30px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    footer .fb:hover, footer .inst:hover {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9); }
  footer .phone {
    font-family: "museo_sans_cyrl";
    font-weight: 900;
    color: #ffea06;
    letter-spacing: 1px; }
  footer .copyright {
    font-size: 1rem;
    color: #fff;
    margin-top: 30px; }

@media screen and (max-width: 760px) {
  footer a {
    font-size: .9rem; }
  footer .social {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    footer .social a {
      padding: 0 10px 0 10px; } }
.gallery {
  padding: 0;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0; }
  .gallery .foto__wrap {
    position: relative;
    cursor: pointer; }
    .gallery .foto__wrap a {
      position: relative;
      overflow: hidden;
      height: 100%;
      cursor: pointer; }
      .gallery .foto__wrap a * {
        cursor: pointer; }
      .gallery .foto__wrap a img {
        object-fit: cover;
        -o-object-fit: cover;
        height: 100%;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
      .gallery .foto__wrap a p.header {
        position: absolute;
        top: 0;
        color: white;
        background: transparent;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 2px;
        font-family: "ft40", sans-serif;
        width: 100%;
        height: 100%;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s; }
        .gallery .foto__wrap a p.header span.hidden {
          position: relative;
          width: 80%;
          top: 0;
          text-transform: lowercase;
          font-size: 1.1rem;
          font-weight: 500;
          display: none;
          -webkit-transition: .2s;
          -o-transition: .2s;
          transition: .2s; }
          .gallery .foto__wrap a p.header span.hidden:before {
            content: '';
            background-color: #fff;
            width: 60%;
            height: 2px;
            position: relative;
            margin: 15px 0 15px 0;
            display: none;
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s; }
    .gallery .foto__wrap:hover a img {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
    .gallery .foto__wrap:hover a p.header {
      background: rgba(0, 0, 0, 0.6); }
      .gallery .foto__wrap:hover a p.header span.hidden {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        letter-spacing: 1px;
        font-family: "museo_sans_cyrl", sans-serif; }
        .gallery .foto__wrap:hover a p.header span.hidden:before {
          display: block; }

@media screen and (max-width: 1024px) {
  .gallery {
    grid-template-columns: 1fr 1fr; } }
@media screen and (max-width: 760px) {
  .gallery {
    grid-template-columns: 1fr; } }
/*-- About us -**/
.wy__we {
  padding-top: 40px; }
  .wy__we .progressive img {
    width: 100%;
    min-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 90px;
    margin-bottom: 25px;
    min-height: 90px;
    height: 90px; }
  .wy__we p.header {
    text-transform: uppercase;
    color: #b70124;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0;
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
  .wy__we p.text {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600; }

@media screen and (max-width: 1199px) {
  section .wy__we p.header {
    font-size: 1rem; }

  section .wy__we p.text {
    font-size: 0.9rem; } }
@media screen and (max-width: 900px) {
  section .wy__we p.text, section .wy__we p.header {
    width: 55%; } }
@media screen and (max-width: 760px) {
  section .wy__we p.text {
    width: 100%; } }
.slick {
  padding: 20px 0 30px 0; }
  .slick .slick-arrow {
    width: 45px;
    height: auto;
    object-fit: contain;
    -o-object-fit: contain; }
    .slick .slick-arrow.slick-prev {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }
    .slick .slick-arrow.slick-next {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }

.review-wrapper {
  overflow: hidden;
  position: relative; }
  .review-wrapper img {
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover; }
  .review-wrapper p.header {
    position: absolute;
    top: 45%;
    width: 100%; }

.slick-prev, .slick-next {
  top: 40% !important; }

/* -- Reviews slider -- */
.reviews .review-wrapper {
  cursor: pointer;
  min-height: 450px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .reviews .review-wrapper:hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .reviews .review-wrapper:hover .white__block {
      display: block; }
  .reviews .review-wrapper img {
    height: 250px;
    object-fit: cover;
    -o-object-fit: cover; }
  .reviews .review-wrapper .white__block {
    display: none;
    color: #343964;
    padding: 25px 10px 20px 10px;
    background-color: #fff;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .reviews .review-wrapper .white__block p.header {
      color: #343964;
      position: static;
      font-size: 1.1rem;
      font-weight: 700; }
    .reviews .review-wrapper .white__block .box-button {
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      width: 70%;
      text-align: center;
      display: block; }
    .reviews .review-wrapper .white__block .morecontent span {
      display: none; }
      .reviews .review-wrapper .white__block .morecontent span.box-button {
        display: block; }

.reviews .slick-arrow {
  width: 45px;
  height: auto;
  object-fit: contain;
  -o-object-fit: contain; }
  .reviews .slick-arrow.slick-prev {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 25% !important; }
  .reviews .slick-arrow.slick-next {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 25% !important; }

/*-- Help text --*/
.review-wrapper .help {
  display: block;
  position: absolute;
  bottom: 100px;
  font-size: 1rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
.review-wrapper:hover .help {
  display: none; }

@media screen and (max-width: 1024px) {
  .slick-initialized .slick-list {
    padding: 0 10%; } }
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce a.button.alt, .woocommerce a.button.alt:hover, .woocommerce a.button.alt:focus, #place_order, #place_order:hover {
  background-color: #b70124;
  border-radius: 0;
  color: #fff; }

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
  width: 100%;
  max-width: 100%; }
  .woocommerce .col2-set .col-1 .woocommerce-billing-fields, .woocommerce .col2-set .col-1 .woocommerce-shipping-fields, .woocommerce-page .col2-set .col-1 .woocommerce-billing-fields, .woocommerce-page .col2-set .col-1 .woocommerce-shipping-fields, .woocommerce .col2-set .col-2 .woocommerce-billing-fields, .woocommerce .col2-set .col-2 .woocommerce-shipping-fields, .woocommerce-page .col2-set .col-2 .woocommerce-billing-fields, .woocommerce-page .col2-set .col-2 .woocommerce-shipping-fields {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
  .woocommerce .col2-set .col-1 .form-row, .woocommerce-page .col2-set .col-1 .form-row, .woocommerce .col2-set .col-2 .form-row, .woocommerce-page .col2-set .col-2 .form-row {
    width: 100%; }
    .woocommerce .col2-set .col-1 .form-row label, .woocommerce-page .col2-set .col-1 .form-row label, .woocommerce .col2-set .col-2 .form-row label, .woocommerce-page .col2-set .col-2 .form-row label {
      width: 20%;
      margin: 10px 20px 10px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
    .woocommerce .col2-set .col-1 .form-row span.woocommerce-input-wrapper, .woocommerce-page .col2-set .col-1 .form-row span.woocommerce-input-wrapper, .woocommerce .col2-set .col-2 .form-row span.woocommerce-input-wrapper, .woocommerce-page .col2-set .col-2 .form-row span.woocommerce-input-wrapper {
      width: 50%;
      margin: 5px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .woocommerce .col2-set .col-1 .form-row span.woocommerce-input-wrapper input:not([type="radio"]), .woocommerce-page .col2-set .col-1 .form-row span.woocommerce-input-wrapper input:not([type="radio"]), .woocommerce .col2-set .col-2 .form-row span.woocommerce-input-wrapper input:not([type="radio"]), .woocommerce-page .col2-set .col-2 .form-row span.woocommerce-input-wrapper input:not([type="radio"]) {
        padding: 10px; }

.woocommerce form .form-row .required, .woocommerce form .form-row .optional {
  display: none; }
.woocommerce form .form-row label.radio {
  display: inline; }

#billing_country_field {
  display: none !important; }

input.input-radio {
  display: inline;
  margin-right: 10px; }

@media screen and (max-width: 1024px) {
  .woocommerce .col2-set .col-1 .form-row span.woocommerce-input-wrapper, .woocommerce-page .col2-set .col-1 .form-row span.woocommerce-input-wrapper, .woocommerce .col2-set .col-2 .form-row span.woocommerce-input-wrapper, .woocommerce-page .col2-set .col-2 .form-row span.woocommerce-input-wrapper {
    width: 70%; } }
@media screen and (max-width: 900px) {
  .woocommerce .col2-set .col-1 .form-row span.woocommerce-input-wrapper, .woocommerce-page .col2-set .col-1 .form-row span.woocommerce-input-wrapper, .woocommerce .col2-set .col-2 .form-row span.woocommerce-input-wrapper, .woocommerce-page .col2-set .col-2 .form-row span.woocommerce-input-wrapper, .woocommerce .col2-set .col-1 .form-row label, .woocommerce-page .col2-set .col-1 .form-row label, .woocommerce .col2-set .col-2 .form-row label, .woocommerce-page .col2-set .col-2 .form-row label {
    width: 100%; } }
@media screen and (max-width: 760px) {
  .woocommerce .col2-set .col-1 .form-row span.woocommerce-input-wrapper, .woocommerce-page .col2-set .col-1 .form-row span.woocommerce-input-wrapper, .woocommerce .col2-set .col-2 .form-row span.woocommerce-input-wrapper, .woocommerce-page .col2-set .col-2 .form-row span.woocommerce-input-wrapper {
    width: 100%;
    display: block !important; }
    .woocommerce .col2-set .col-1 .form-row span.woocommerce-input-wrapper input[type=radio], .woocommerce-page .col2-set .col-1 .form-row span.woocommerce-input-wrapper input[type=radio], .woocommerce .col2-set .col-2 .form-row span.woocommerce-input-wrapper input[type=radio], .woocommerce-page .col2-set .col-2 .form-row span.woocommerce-input-wrapper input[type=radio] {
      width: 20%;
      display: block;
      float: left;
      margin: 0;
      height: 20px;
      margin: 10px 0; }
    .woocommerce .col2-set .col-1 .form-row span.woocommerce-input-wrapper label.radio, .woocommerce-page .col2-set .col-1 .form-row span.woocommerce-input-wrapper label.radio, .woocommerce .col2-set .col-2 .form-row span.woocommerce-input-wrapper label.radio, .woocommerce-page .col2-set .col-2 .form-row span.woocommerce-input-wrapper label.radio {
      width: 80%;
      float: right;
      display: block;
      margin: 0;
      height: 40px;
      padding-top: 5px; } }
/*--- Overlay ---*/
.overlay {
  position: fixed;
  display: none;
  z-index: 15;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); }

/*--- Modal ---*/
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 450; }
  .modal.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .modal .value {
    background: #fff;
    width: 50%;
    max-width: 600px;
    max-height: 400px;
    height: 50%;
    position: relative;
    z-index: 500;
    border: 2px solid #343964;
    color: #b70124;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin: auto;
    top: 20%; }
    .modal .value span.close {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 1.2rem;
      border: 2px #343964 solid;
      padding: 5px 10px;
      border-top: none;
      border-right: none; }

.logo__url {
  color: #ffea06;
  font-family: "ft40", sans-serif;
  font-weight: 500;
  letter-spacing: 3px; }

@media screen and (max-width: 1024px) {
  #rev_slider_1_1_forcefullwidth {
    display: none; }

  section#main .main-mobile {
    background-repeat: no-repeat;
    background-size: cover; }

  section#main .main-mobile .box-button {
    width: auto; } }

/*# sourceMappingURL=mine.css.map */
